{{define "title"}}{{.Title}}{{end}}

{{define "header"}}
<header>
  {{if .Title}}
  <h1>{{.Title}}</h1>
  {{end}}
  {{if .ModTime}}
  <time datetime="{{.ModTime.Format "2006-01-02T15:04:05Z07:00"}}">
    Last modified: {{.ModTime.Format "January 2, 2006"}}
  </time>
  {{end}}
  {{if .Tags}}
  <aside>
    <strong>Tags:</strong>
    {{range .Tags}}
    <span class="tag">{{.}}</span>
    {{end}}
  </aside>
  {{end}}
</header>
{{end}}

{{define "content"}}
<article>
  {{.Content}}
</article>
{{end}}

{{template "base-template.html" .}}