{{define "title"}}{{.Title}}{{end}}

{{define "og_type"}}article{{end}}

{{define "og_title"}}{{.Title}} - {{.SiteName}}{{end}}

{{define "og_description"}}{{if .Preview}}{{.Preview}}{{else}}{{.Title}}{{end}}{{end}}

{{define "og_article_dates"}}{{if .ModTime}}
    <meta property="og:article:modified_time" content="{{.ModTime.Format "2006-01-02T15:04:05Z07:00"}}">
    <meta property="og:article:published_time" content="{{.ModTime.Format "2006-01-02T15:04:05Z07:00"}}">{{end}}
    {{if .BaseURL}}<meta property="og:url" content="{{.BaseURL}}/{{.Path | pathNoExt}}.html">{{end}}{{end}}
{{define "og_image"}}{{if .DefaultImage}}{{.BaseURL}}{{.DefaultImage}}{{end}}{{end}}

{{define "header"}}
<header>
  {{if .Title}}
  <h1>{{.Title}}</h1>
  {{end}}
  {{if .ModTime}}
  <time datetime="{{.ModTime.Format "2006-01-02T15:04:05Z07:00"}}">
    Last modified: {{.ModTime.Format "January 2, 2006"}}
  </time>
  {{end}}
  {{if .Tags}}
  <aside>
    <strong>Tags:</strong>
    {{range .Tags}}
    <span class="tag">{{.}}</span>
    {{end}}
  </aside>
  {{end}}
</header>
{{end}}

{{define "content"}}
<article>
  {{.Content}}
</article>
{{end}}

{{template "base-template.html" .}}